<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/responsiveheader.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body> -->

<!-- For PC -->
<!-- <div class="headercontainer">

        <div class="header">

            <div class="box box1">

                <i class="ri-menu-line"></i>
                <p> MENU </p>

                <i class="ri-search-line"></i>
                <p> SEARCH </p>

            </div>
            <div class="box box2">

                <a href="/"><img src="/image/BLACK BRAND NAME MARK.avif" alt /> </a>

            </div>
            <div class="box box3">


                <i class="ri-user-line"></i>
                <p> LOGIN </p>

                <i class="ri-heart-line"></i>
                <p> WISHLIST </p>

                <i class="ri-shopping-bag-line"></i>
                <P> CART </P>

            </div>

        </div>

    </div> -->

<!-- Responsive Navbar -->
<!-- <div class="responsiverheader">

        <div class="responsive">

            <div class="rbox rbox1">

                <a href="/"><img src="/image/BLACK BRAND NAME MARK.avif" alt=""></a>

            </div>
            <div class="rbox rbox2">

                <i class="ri-menu-line"></i>

            </div>

        </div>

    </div> -->

<!-- For Mobile -->
<!-- <div class="mobileheadercontainer">

        <div class="mobileheader">

            <a href="/"><img src="/image/BLACK BRAND NAME MARK.avif" alt=""></a>
            <i class="ri-close-large-line"></i>

            <div class="mobilesubmenu">

                <nav>

                    <ul>

                        <li>MEN</li>
                        <li>SHOP</li>
                        <li>AESTHTIC T-SHIRT</li>
                        <li>CLASSIC POLO</li>
                        <li>NEW ARRIVAL</li>

                    </ul>

                </nav>

                <div class="sociallinks">

                    <a href="#"> <i class="ri-facebook-fill"></i> </a>
                    <a href="#"> <i class="ri-instagram-line"></i> </a>
                    <a href="#"> <i class="ri-twitter-x-line"></i> </a>
                    <a href="#"> <i class="ri-youtube-fill"></i> </a>
                    <a href="#"> <i class="ri-pinterest-fill"></i> </a>

                </div>

            </div>

        </div>

    </div> -->

<!-- For PC and Big Screen -->
<!-- <div class="pcheadersection">

        <div class="pcheadernav">

            <i class="ri-close-large-line"></i>

            <nav>

                <ul>

                    <li><a href="#">MEN</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">AESTHTIC T-SHIRT</a></li>
                    <li><a href="#">CLASSIC POLO</a></li>
                    <li><a href="#">NEW ARRIVAL</a></li>

                </ul>

            </nav>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/header.js"></script>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/responsiveheader.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="headercontainer">
      <div class="box box1">
        <i class="ri-add-line"></i>
        <span> CONTACT </span>
      </div>
      <div class="box box2">
        <h1>VIONESSE</h1>
      </div>
      <div class="box box3">
        <ul>
          <li>
            <a href="#"><i class="ri-shopping-bag-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-heart-2-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-user-3-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-search-2-line"></i></a>
          </li>
          <li><i class="ri-menu-line"></i><span> MENU </span></li>
        </ul>
      </div>
    </header>

    <div class="sidemenusection">
      <div class="sidemenu">
        <div class="sidemenuicon">
          <i class="ri-close-large-line"></i>
        </div>
        <div class="sidemenucontent">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">RETRO POLO</a></li>
            <li><a href="#">TEES</a></li>
            <li><a href="#">NEW ARRIVAL</a></li>
          </ul>

          <div class="sidemenusocialicon">
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/vionessefashion/"
                  target="_blank"
                >
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/vionesseofficial?igsh=MXM2dGpzaHlmaHRoMg=="
                  target="_blank"
                >
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://x.com/Vionesseindia" target="_blank">
                  <i class="ri-twitter-x-line"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://in.pinterest.com/Vionesseindia/"
                  target="_blank"
                >
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/vionesse-india-99697235a/"
                  target="_blank"
                >
                  <i class="ri-pinterest-line"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile view header -->
    <div class="mobileviewheader">
      <div class="mobileheader">
        <div class="mobilelogo">
          <a href="#"> <img src="/image/BLACK BRAND NAME MARK.avif" alt /> </a>
        </div>
        <div class="mobilemenu">
          <ul>
            <li>
              <a href="#"><i class="ri-shopping-bag-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-user-3-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-search-2-line"></i></a>
            </li>
            <li><i class="ri-menu-line"></i></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mobileviewsubemenu">
      <div class="mobilesubmenu">
        <div class="mobilesubmenuimage">
          <img src="/image/BLACK BRAND NAME MARK.avif" alt />
          <i class="ri-close-large-line"></i>
        </div>
        <div class="mobilesubmenucontent">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">RETRO POLO</a></li>
            <li><a href="#">TEES</a></li>
            <li><a href="#">NEW ARRIVAL</a></li>
          </ul>
        </div>
        <div class="mobilesubmenusociallinks">
          <ul>
            <li>
              <a
                href="https://www.facebook.com/vionessefashion/"
                target="_blank"
              >
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/vionesseofficial?igsh=MXM2dGpzaHlmaHRoMg=="
                target="_blank"
              >
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a href="https://x.com/Vionesseindia" target="_blank">
                <i class="ri-twitter-x-line"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/vionesse-india-99697235a/"
                target="_blank"
              >
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://in.pinterest.com/Vionesseindia/" target="_blank">
                <i class="ri-pinterest-line"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
