<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newsletter.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
    
    <div class="newslettersection">

        <div class="newsletter">

            <div class="newslettertext">

                <h3> Subscribe Newsletter </h3>
                <p> Subscribe to our newsletter and get all our updates </p>

                <div class="newsletterform">

                    <form action="/thankyou" method="post">

                        <input type="email" placeholder="Your Email">
                        <button type="submit"><i class="ri-mail-line"></i></button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</body>
</html>