<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/service.css">
</head>
<body>
    
    <div class="servicesection">

        <div class="service">

            <div class="serviceheading">

                <h2> Our Services </h2>
                <p> VIONESSE brings you a seamless online shopping experience with premium shirts and t-shirts for men and women. Enjoy modern styles, top quality, secure checkout, and fast delivery—fashion made simple and convenient, right at your fingertips.</p>

            </div>

            <div class="services">

                <a href="#"><div class="servicebox">

                    <div class="serviceimg">

                        <img src="https://images.unsplash.com/photo-1556745753-b2904692b3cd?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                    </div>
                    <div class="servicecontent">

                        <h4> Services </h4>

                    </div>

                </div></a>

                <a href="#"><div class="servicebox">

                    <div class="serviceimg">

                        <img src="https://images.unsplash.com/photo-1625552187571-7ee60ac43d2b?q=80&w=2119&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                    </div>
                    <div class="servicecontent">

                        <h4> Art of Gifting </h4>

                    </div>

                </div></a>

                <a href="#"><div class="servicebox">

                    <div class="serviceimg">

                        <img src="https://images.unsplash.com/photo-1639597784674-431b34cec7a8?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>
                    
                    </div>
                    <div class="servicecontent">

                        <h4> Personalisation </h4>

                    </div>

                </div></a>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/service.js"></script>

</body>
</html>