<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shopoffer.css">
    <link rel="stylesheet" href="/css/responsiveshopoffer.css">
</head>
<body>
    
    <div class="shopoffersection">

        <div class="shopoffer">

            <div class="shopbox shopbox1">

                <p> - Final Sale - </p>

            </div>
            <div class="shopbox shopbox2">

                <p> Get 30% Off </p>

            </div>
            <div class="shopbox shopbox3">

                <a href="#">

                    <button> Shop Now </button>

                </a>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/shopoffer.js"></script>

</body>
</html>