<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/BLACK BRAND NAME MARK.avif">
    <title>VIONESSE</title>
</head>
<body>
    
    <%- include('../views/partials/header.ejs') %>
    <%- include('../views/partials/videoslider.ejs') %>
    <%- include('../views/partials/shopoffer.ejs') %>
    <%- include('../views/partials/newarrivals.ejs') %>

</body>
</html>