<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vionesseregister.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <title>VIONESSE - REGISTER </title>
</head>
<body>
    
    <div class="registersection">

        <h1> VIONESSE </h1>

        <div class="registerbox">

            <form action="/register" method="post">

                <label for="fullname"> Full Name </label>
                <input type="text" placeholder="Enter Your Full Name" name="fullname" required>
                <label for="email"> Email </label>
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <label for="passowrd"> Password </label>
                <input type="password" name="passowrd" placeholder="Enter Your Password" required>

                <div class="registerlinkbox">

                    <input type="submit" value="REGISTER">
                    <a href="#"> LOGIN </a>
                    <a href="#"> <i class="ri-google-fill"></i> SIGN UP WITH GOOGLE </a>

                </div>

            </form>

        </div>

    </div>

</body>
</html>