<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vionesseadmin.css">
</head>
<body>
    
    <div class="adminsection">

        <div class="admin">

            <div class="adminheading">

                <h1> VIONESSE </h1>
                <a href="/logout">LOGOUT</a>

            </div>

            <div class="adminpannel">

                <div class="menubar">

                    <ul>

                        <li>ADMIN PROFILE</li>
                        <li>SLIDER</li>
                        <li>NEW ARRIVALS</li>
                        <li> RETRO POLO </li>
                        <li>DELETE HOME ARRIVALS PRODUCTS</li>
                        <li>DELETE HOME RETRO PRODUCTS</li>
                        <li>CONTENT</li>

                    </ul>

                </div>
                <div class="showcasesection">

                    <div class="newarrivals">

                        <div class="imageupdateform">

                            <h2> New Arrival Product Details: </h2><br>

                            <form action="/uploadproductimage" method="post" enctype="multipart/form-data">

                                <input type="file" placeholder="Choose an image" name="productimage" required>
                                <input type="text" placeholder="Enter Product Name" name="productname" required>
                                <input type="number" placeholder="Enter Product Price" name="productprice" required>
                                <input type="submit" value="Submit">

                            </form>

                        </div>

                    </div>

                    <!-- Retro Polo Section -->
                    <div class="retropolosection">

                        <div class="retropolobox">

                            <h2> Retro Polo Product Details: </h2><br>
                            
                            <form action="/uploadretroproduct" method="post" enctype="multipart/form-data">

                                <input type="file" name="retroimage" placeholder="Choose an image" required>
                                <input type="text" name="retroproductname" placeholder="Enter Your Product Name" required>
                                <input type="text" name="retroproductprice" placeholder="Enter Your Product Price" required>
                                <input type="submit" value="Submit">

                            </form>

                        </div>

                    </div>

                    <!-- Home Arrival Product Delete Section -->
                    <div class="deletearrivalproduct">

                        <div class="deleteheading"> 

                            <h2> Home Arrival Products: </h2>

                        </div>

                        <div class="deletearrival">

                            <% arrivalproduct.forEach((arrivals) => { %> 
                               
                                <div class="deletearrivalbox">

                                    <div class="imagebox">

                                        <img src="/image/uploads/<%= arrivals.productimage%>" alt>

                                    </div>
                                    <div class="contentbox">

                                        <h3><%= arrivals.productname %></h3>
                                        <span> Rs. <%= arrivals.productprice %></span>

                                        <div class="deleteproductbtn">

                                            <a href="/delete/arrival/<%=arrivals.id%>"><button> Delete Product </button></a>

                                        </div>

                                    </div>

                                </div>
                                
                            <% }) %>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/vionesseadmin.js"></script>

</body>
</html>