*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

::selection{

    background-color: #1a1a1a;
    color: #fff;

}

body{

    background-color: #ffffff;

}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: sticky;
    z-index: 999999;
    top: 0;

}

header > .box {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;

}

header > .box1{

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    opacity: 0;

}

header > .box2{

    position: relative;

}

.box2 > h1{

    position: absolute;
    top: 300%;
    left: 49%;
    transform: translate(-46%, 20%);
    font-size: 200px;
    color: #ffffff;
    letter-spacing: 30px;
    /* text-shadow: 2px 2px 5px #000; */

}

header > .box3 ul{

    display: flex;
    list-style-type: none;
    gap: 20px;
    height: 100%;

}

.box3 ul li{

    height: 100%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

i{

    font-size: 20px;
    color: #fff;

}

.box3 ul li > a{

    text-decoration: none;
    font-size: 20px;
    color: #000;

}

/** Side menu section */
.sidemenusection{

    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    /* z-index: 99999999; */
    z-index: -9999999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    /* transform: translateX(2000px); */

}

.sidemenusection > .sidemenu{

    height: 100%;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    transform: translateX(2000px);

}

.sidemenu > .sidemenuicon{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.sidemenuicon > i{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 20px;
    background-color: #000;
    border-top-left-radius: 30px;
    font-weight: bolder;
    border-bottom-right-radius: 30px;
    cursor: pointer;

}

.sidemenu > .sidemenucontent{

    width: 100%;
    height: 100%;
    padding-left: 50px;
    overflow: hidden;

}

.sidemenucontent > ul{

    list-style-type: none;
    line-height: 100px;

}

.sidemenucontent > ul li a{

    font-size: 25px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #1a1a1a;
    display: inline-flex;
    width: 500px;

}

.sidemenucontent > ul li a::before{

    position: absolute;
    top: 70px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    transition: all 1s ease;

}

.sidemenucontent > ul li a:hover::before{

    width: 100%;

}

.sidemenucontent > .sidemenusocialicon{

    width: 80%;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;

}

.sidemenusocialicon > ul {

    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;

}

.sidemenusocialicon ul li a > i{

    font-size: 20px;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-right: 50px;
    background-color: #1a1a1a;
    width: 40px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.7s ease;


}

.sidemenusocialicon ul li a > i:hover{

    background-color: #ffffff;
    color: #1a1a1a;
    transform: scale(1.5);

}

/** mobile view header */
.mobileviewheader{

    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 9999999;

}

.mobileviewheader > .mobileheader{

    width: 100%;
    height: 100%;
    display: flex;

}

.mobilelogo{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.mobilelogo a > img{

    width: 150px;


}

.mobilemenu{

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;

}

.mobilemenu > ul{

    display: flex;
    list-style-type: none;

}

.mobilemenu ul li > i{

    font-size: 25px;
    color: #000;

}

.mobilemenu ul li a > i{

    text-decoration: none;
    color: #1a1a1a;
    font-size: 25px;;

}

.mobilemenu ul li > a{

    text-decoration: none;
    margin-right: 9px;

}

/** Mobile view sub menu */
.mobileviewsubemenu{

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999999999;
    transform: translateX(-2000px);

}

.mobileviewsubemenu > .mobilesubmenu{

    width: 100%;
    height: 100%;

}

.mobilesubmenu > .mobilesubmenuimage{

    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.mobilesubmenuimage > img{

    width: 250px;

}

.mobilesubmenuimage > i{

    font-size: 40px;
    color: #1a1a1a;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 10px;

}

.mobilesubmenu > .mobilesubmenucontent{

    height: 60%;
    /* background-color: #1a1a1a; */
    display: flex;
    align-items: center;
    overflow: hidden;

}

.mobilesubmenucontent > ul {

    list-style-type: none;
    line-height: 100px;
    padding-left: 20px;

}

.mobilesubmenucontent > ul li{

    font-size: 30px;
    position: relative;

}

.mobilesubmenucontent > ul li a{

    color: #1a1a1a;
    text-decoration: none;

}

.mobilesubmenu > .mobilesubmenusociallinks{

    height: 100%;
    padding-top: 30px;

}

.mobilesubmenusociallinks > ul {

    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 10px;

}

.mobilesubmenusociallinks > ul li a{

    text-decoration: none;

}

.mobilesubmenusociallinks ul li a > i{

    font-size: 35px;
    color: #1a1a1a;
    padding: 5px;

}

/*
.headercontainer{

    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 99999999;
    background-color: #fff;
    top: 0;
    left: 0;

} */

/* .headercontainer > .header{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header > .box{

    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}

.header > .box1{

    display: flex;
    gap: 20px;

}

i{

    font-size: 20px;
    cursor: pointer;

}

p{

    cursor: pointer;

}

.header > .box3{

    display: flex;
    gap: 20px;

}

.mobileheadercontainer{

    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;

} */

/* .mobileheadercontainer > .mobileheader{

    width: 100%;
    height: 100%;
    position: relative;

}

.mobileheader > i{

    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 30px;
    color: #1a1a1a;


}

.mobileheader > a img{

    position: absolute;
    left: 10px;
    top: 25px;
    width: 200px;

}

.mobilesubmenu > nav{

    position: absolute;
    top: 15%;
    left: 20px;

}

nav > ul{

    list-style-type: none;
    line-height: 60px;
    font-size: 20px;

}

.mobilesubmenu > .sociallinks{

    position: absolute;
    bottom: 30px;
    left: 20px;

}

.sociallinks > a{

    text-decoration: none;
    margin-right: 20px;

}

.sociallinks > a i{

    font-size: 30px;
    color: #1a1a1a;

}

.responsiverheader{

    width: 100%;
    height: 100px;

}

.responsiverheader > .responsive{

    width: 100%;
    height: 100%;
    display: flex;

}

.responsive > .rbox{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.rbox1 > a img{

    width: 150px;

}

.responsive > .rbox2{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

}

.rbox2 > i{

    font-size: 30px;
    cursor: pointer;

}

.pcheadersection{

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff72;
    backdrop-filter: blur(10px);
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pcheadersection > .pcheadernav{

    width: 700px;
    height: 100%;
    background-color: #00000087;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;

}

.pcheadernav > nav{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pcheadernav > nav ul{

    list-style: none;
    font-size: 50px;
    line-height: 100px;

} */

/* .pcheadernav > nav ul li a {

    text-decoration: none;
    color: #ffffff;
    display: inline-flex;
    position: relative;
    width: 100%;

}

.pcheadernav > nav ul li a:hover{

   transform: scaleY(1.5);


}

.pcheadernav > nav ul li a::before{

    position: absolute;
    bottom: 20px;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    content: "";
    transition: all 1s ease;

}

.pcheadernav > nav ul li a:hover::before{

    width: 100%;

} */

/* .pcheadernav > i{

    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 40px;
    border-radius: 50%;
    color: snow;
    padding: 5px;

} */






