* {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

::selection {

    background-color: #1a1a1a;
    color: #fff;

}

body {

    background-color: #ffffff;

}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: sticky;
    z-index: 999999;
    top: 0;
    box-shadow: 2px 1px 5px #1a1a1a;

}

header>.box {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #1a1a1a;

}

header>.box1 {

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #1a1a1a;

}

.box2 > a{

    color: #1a1a1a;
    text-decoration: none;
    letter-spacing: 10px;

}

.box2>h1 {

    font-size: 30px;
    color: #000000;

}

header>.box3 ul {

    display: flex;
    list-style-type: none;
    gap: 20px;
    height: 100%;

}

.box3 ul li {

    height: 100%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

i {

    font-size: 20px;
    color: #1a1a1a;

}

.box3 ul li>a {

    text-decoration: none;
    font-size: 20px;
    color: #000;

}

/** Side menu section */
.sidemenusection {

    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    /* z-index: 99999999; */
    z-index: -9999999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    /* transform: translateX(2000px); */

}

.sidemenusection>.sidemenu {

    height: 100%;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    transform: translateX(2000px);

}

.sidemenu>.sidemenuicon {

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.sidemenuicon>i {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 20px;
    background-color: #000;
    border-top-left-radius: 30px;
    font-weight: bolder;
    border-bottom-right-radius: 30px;
    cursor: pointer;

}

.sidemenu>.sidemenucontent {

    width: 100%;
    height: 100%;
    padding-left: 50px;
    overflow: hidden;

}

.sidemenucontent>ul {

    list-style-type: none;
    line-height: 100px;

}

.sidemenucontent>ul li a {

    font-size: 25px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #1a1a1a;
    display: inline-flex;
    width: 500px;

}

.sidemenucontent>ul li a::before {

    position: absolute;
    top: 70px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    transition: all 1s ease;

}

.sidemenucontent>ul li a:hover::before {

    width: 100%;

}

.sidemenucontent>.sidemenusocialicon {

    width: 80%;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;

}

.sidemenusocialicon>ul {

    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;

}

.sidemenusocialicon ul li a>i {

    font-size: 20px;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-right: 50px;
    background-color: #1a1a1a;
    width: 40px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.7s ease;


}

.sidemenusocialicon ul li a>i:hover {

    background-color: #ffffff;
    color: #1a1a1a;
    transform: scale(1.5);

}

/** mobile view header */
.mobileviewheader {

    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 9999999;

}

.mobileviewheader>.mobileheader {

    width: 100%;
    height: 100%;
    display: flex;

}

.mobilelogo {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.mobilelogo a>img {

    width: 150px;


}

.mobilemenu {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;

}

.mobilemenu>ul {

    display: flex;
    list-style-type: none;

}

.mobilemenu ul li>i {

    font-size: 25px;
    color: #000;

}

.mobilemenu ul li a>i {

    text-decoration: none;
    color: #1a1a1a;
    font-size: 25px;
    ;

}

.mobilemenu ul li>a {

    text-decoration: none;
    margin-right: 9px;

}

/** Mobile view sub menu */
.mobileviewsubemenu {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999999999;
    transform: translateX(-2000px);

}

.mobileviewsubemenu>.mobilesubmenu {

    width: 100%;
    height: 100%;

}

.mobilesubmenu>.mobilesubmenuimage {

    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.mobilesubmenuimage>img {

    width: 250px;

}

.mobilesubmenuimage>i {

    font-size: 40px;
    color: #1a1a1a;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 10px;

}

.mobilesubmenu>.mobilesubmenucontent {

    height: 60%;
    /* background-color: #1a1a1a; */
    display: flex;
    align-items: center;
    overflow: hidden;

}

.mobilesubmenucontent>ul {

    list-style-type: none;
    line-height: 100px;
    padding-left: 20px;

}

.mobilesubmenucontent>ul li {

    font-size: 30px;
    position: relative;

}

.mobilesubmenucontent>ul li a {

    color: #1a1a1a;
    text-decoration: none;

}

.mobilesubmenu>.mobilesubmenusociallinks {

    height: 100%;
    padding-top: 30px;

}

.mobilesubmenusociallinks>ul {

    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 10px;

}

.mobilesubmenusociallinks>ul li a {

    text-decoration: none;

}

.mobilesubmenusociallinks ul li a>i {

    font-size: 35px;
    color: #1a1a1a;
    padding: 5px;

}