/* @media only screen and (max-width: 600px) and (min-width: 200px){

    .headercontainer{

        display: none;

    }

    .pcheadersection{

        display: none;

    }

    
}

@media only screen and (min-width: 1000px){

    .responsiverheader {
    
        display: none;
    
    }


} */


@media only screen and (max-width: 600px) and (min-width: 200px){

    .headercontainer{

        display: none;

    }

    .sidemenusection{

        display: none;

    }

    .mobileviewheader {

        display: flex;

    }


}

@media only screen and (min-width: 600px){

    .mobileviewheader{

        display: none;

    }

    .mobileviewsubemenu{

        display: none;

    }

}

@media only screen and (max-width: 1400px){

    .mobileviewheader{

        display: flex;

    }

    .headercontainer{

        display: none;

    }

}