/* @media only screen and (max-width: 600px) and (min-width: 200px){

    .headercontainer{

        display: none;

    }

    .pcheadersection{

        display: none;

    }

    
}

@media only screen and (min-width: 1000px){

    .responsiverheader {
    
        display: none;
    
    }


} */